extends layout
block append head
  link(rel='stylesheet', href='/stylesheets/signin.css')

block content
  body(class='text-center')
      form(method='POST' class='form-signin' action='/')
        img(src='/images/logo_uabc_4.png' style='display:inline:block')
        img(src='/images/caceca_3.png' style='display:inline:block')
        h1(class='h4 mb-2 font-weight-normal') Iniciar Sesión
        br
        input(type="text" placeholder='Usuario' class='form-control' name='user' id='usuario')
        input(type='password' placeholder='Password' class='form-control' name='pass' id='pass')
        button(id='btnLogin' class='btn btn-lg btn-primary btn-block' type='submit') Continuar
        p(class='mt-4 mb-3 text-muted')= footer